.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    color: var(--uofa_grey);
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.title:hover {
    color: var(--uofa_yellow); 
    transform: scale(1.05); /* Slight zoom effect */
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap into new rows */
    justify-content: center; 
    gap: 2rem; /* Space between cards */
    margin-bottom: 5rem;
}



