.about-us-card {
    background-color: var(--uofa_green);
    width: 90%;
    max-width: 500px;
    min-height: 250px;
    border-radius: 10px;
    text-align: center; 
    display: flex;
    flex-direction: column; /* Ensures elements stack vertically */
    align-items: center; /* Centers content horizontally */
    padding: 1.5rem;
    position: relative;
    margin: 0 auto;
}

.about-us-card::before {
    content: "";
    position: absolute;
    inset: -3px; 
    background: var(--uofa_yellow);
    border-radius: 12px; 
    transition: 0.5s;
    z-index: -10; 
}

.about-us-card:hover::before {
    opacity: 0.6;
}

.about-us-card h3 {
    font-family: Roboto Slab;
    font-weight: 500;
    color: var(--uofa_yellow);
    font-size: 1.5rem;
}

.about-us-card p {
    font-family: Roboto Flex;
    font-weight: 400;
    color: var(--uofa_grey);
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 0 1rem; /* Added horizontal padding */
}

.notititle {
    font-size: 1.4rem;
}
  
.notibody {
    font-size: 1.1rem;
}
  
.about-us-card h3 {
    font-size: 1.6rem;
}
  
.about-us-card p {
    font-size: 1.3rem;
}

@media (min-width: 1064px) {
    .notititle {
        font-size: 1.7rem;
    }

    .notibody {
        font-size: 1.3rem;
    }

    .about-us-card h3 {
        font-size: 2rem;
    }

    .about-us-card p {
        font-size: 1.8rem;
    }
}