.card {
    width: 250px;
    height: 280px;
    position: relative;
    border-radius: 16px;
    background: var(--uofa_grey);
    transition: box-shadow .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    cursor: pointer;
    margin: 3rem;  /* Adjust spacing between cards */
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    background: var(--uofa_yellow);
    transform: scale(1.1); /* Slight zoom effect */
}

.card-img {
    display: block;
    margin: auto; 
    width: 80%;
}
  
.card-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
  
.card-text p {
    line-height: 140%;
    white-space: nowrap;
}
  
.card-title {
    font-weight: 700;
    font-size: 1.4rem;
    color: #222;
}
  
.card-subtitle {
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
}
  
.card:hover {
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
}
  
.card:hover .card-icon {
    opacity: 1;
    transform: translateX(20%);
}

